@font-face {
  font-family: 'Bahij-Myriad';
	src:  url('https://cdn.rawgit.com/albouhali/-font-face/3cbef4d6/Bahij%20Myriad%20Arabic-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}


.font-Bahij-Myriad {
    font-family: 'Bahij-Myriad', Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}
