font-face
{
	font-family:'Graphik Arabic Web Regular';
	font-style:normal;
	font-weight:400;
	src:url(https://cdn.rawgit.com/albouhali/font/4c835564/0AYgBPb3MzO.woff) format("woff") ,url(https://github.com/albouhali/font/blob/master/JWsKwoCvuDT.woff2https://github.com/albouhali/font/blob/master/JWsKwoCvuDT.woff2) format("woff2")
}
